.input input[type="range"]
{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    margin-top: .8rem;
}


/* Removes default focus */
.input input[type="range"]:focus
{
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.input input[type="range"]::-webkit-slider-runnable-track
{
    background-color: #a7a7a7;
    border-radius: 1rem;
    height: 1px;
}

/* slider thumb */
.input input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #2877df;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.input input[type="range"]:active::-webkit-slider-thumb
{
    background-color:#053a5f;
    outline: none;
}

/******** Firefox styles ********/
/* slider track */
.input input[type="range"]::-moz-range-track
{
    background-color: #a7a7a7;
    border-radius: 1rem;
    height: 1px;
}

/* slider thumb */
.input input[type="range"]::-moz-range-thumb
{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: #2877df;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.input input[type="range"]:focus::-moz-range-thumb
{
    background-color:#053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}